*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


.header{
    display: flex;
    flex-direction: column;
    height: 35em;
    background-color: #1f2937;
    padding: 2em 5em 0em 5em;
}

/*navbar section*/

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7em;
}

#navbar-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.navbar-links{
    font-size: 18px;
}

#header-link{
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 1.2em;
}

/*hero section*/

.hero{
    display: flex;
    justify-content: center;
    align-content: center;

}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
    flex-basis: 600px;
}

#hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8 ;
}

#hero-image{
    width:550px ;
    height:250px;
}

#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

#hero-btn{
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: none;
    width: 140px;
    height: 40px;
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-title{
    font-size: 30px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px 0px 30px 0px;
}

.info-boxes{
    font-size: 16px;
    color: #1f2937;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 800px;
}

.info-box-1{
    width: 150px;
}

.info-box-2{
    width: 150px;
}

.info-box-3{
    width: 150px;
}

.info-box-4{
    width: 150px;
}

.info-pictures{
    width: 140px;
    height: 140px;
    border-radius: 10px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 5px;
}